extends layout

mixin lightbox()
	#wedding-pics-lightbox

block content

	include nav

	div(class="parallax")
		#group1.parallax__group
			div(class="parallax__layer parallax__layer--back")
				div(class="image fade-opacity" id="image-lg-1")
			div(class="parallax__layer parallax__layer--base")
				div(class="content content-text fade-in" style="opacity:0;")
					h1(class="color-navy" ) Alexander Koehler
					span(class="color-red amp") &amp;
					h1(class="color-navy") Samantha Lauf
					h4(class="color-red") February 20, 2016

		//- Informational stuff here (addresses, links to google maps directions)
		#directions.parallax__group__half.group2
			div(id="directions" class="parallax__layer parallax__layer--base background-color-navy")
				div(class="content content-text")
					h3 We are married!
					| Alex and Sami were married on February 20, 2016.
					br
					br
					| The ceremony took place at St. John Lutheran Church in Seward, NE, and the reception took
					| place at Chez Hay in Lincoln, NE.
					br
					br
					| Select any photo below to begin browsing our wedding pictures.

		.parallax__group__half.group2
			div(class="parallax__layer parallax__layer--base")
				.content.image-group.background-color-navy
					- var n = 1
					while n < 80
						a(href="images/dist/gallery/" + n + ".jpg" class="thumb gallery")
							.thumb-image(style="background-image: url(../images/dist/gallery/" + n + ".jpg)")
							- n++
	+lightbox()
	include overlay
	include templates

