ul(class="mfb-component--br mfb-slidein" data-mfb-toggle="click" data-mfb-state="closed")
	li(class="mfb-component__wrap")
		a(data-mfb-label="" class="mfb-component__button--main background-color-red") A + S

		ul(class="mfb-component__list")
			li
				a(href="#travel-info" data-mfb-label="Accomodations" class="mfb-component__button--child background-color-navy")
					i(class="mfb-component__child-icon fa fa-info-circle fa-2x")
			li
				a(href="#registry" data-mfb-label="Registry" class="mfb-component__button--child background-color-navy")
					i(class="mfb-component__child-icon fa fa-gift fa-2x")
			li
				a(href="#rsvp" data-mfb-label="RSVP" class="mfb-component__button--child background-color-navy")
					i(class="mfb-component__child-icon fa fa-envelope fa-2x")
			li
				a(href="#directions" data-mfb-label="Directions" class="mfb-component__button--child background-color-navy")
					i(class="mfb-component__child-icon fa fa-map-marker fa-2x")
			li
				a(id="wedding-video" data-mfb-label="Wedding Video" class="mfb-component__button--child background-color-navy")
					i(class="mfb-component__child-icon fa fa-info-circle fa-2x")
