ul(class="mfb-component--br mfb-slidein" data-mfb-toggle="click" data-mfb-state="closed")
	li(class="mfb-component__wrap")
		a(data-mfb-label="" class="mfb-component__button--main background-color-red") A + S
